@font-face {
  font-family: "Panton";
  src: url("../../assets/fonts/Panton-Bold.otf");
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("../../assets/fonts/ProximaNova-Light.otf");
}

@font-face {
  font-family: "ProximaNova-LightIt";
  src: url("../../assets/fonts/ProximaNova-LightIt.otf");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../../assets/fonts/ProximaNova-Semibold.otf");
}