/* Icons from directory "" */
.icon-add,.icon-add\:regular{background-image:url('../images/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-add-dims{width:20px;height:20px}
.icon-album,.icon-album\:regular{background-image:url('../images/icons.svg');background-position:0 -20px;background-repeat:no-repeat}
.icon-album-dims{width:20px;height:18px}
.icon-arrow_left,.icon-arrow_left\:regular{background-image:url('../images/icons.svg');background-position:0 -38px;background-repeat:no-repeat}
.icon-arrow_left-dims{width:16px;height:26px}
.icon-arrow_right,.icon-arrow_right\:regular{background-image:url('../images/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-arrow_right-dims{width:16px;height:26px}
.icon-cam,.icon-cam\:regular{background-image:url('../images/icons.svg');background-position:0 -90px;background-repeat:no-repeat}
.icon-cam-dims{width:40px;height:32px}
.icon-close,.icon-close\:regular{background-image:url('../images/icons.svg');background-position:0 -122px;background-repeat:no-repeat}
.icon-close-dims{width:26px;height:26px}
.icon-comments,.icon-comments\:regular{background-image:url('../images/icons.svg');background-position:0 -148px;background-repeat:no-repeat}
.icon-comments-dims{width:20px;height:17px}
.icon-delete,.icon-delete\:regular{background-image:url('../images/icons.svg');background-position:0 -165px;background-repeat:no-repeat}
.icon-delete-dims{width:12px;height:15px}
.icon-edit,.icon-edit\:regular{background-image:url('../images/icons.svg');background-position:0 -180px;background-repeat:no-repeat}
.icon-edit-dims{width:20px;height:20px}
.icon-envelope,.icon-envelope\:regular{background-image:url('../images/icons.svg');background-position:0 -200px;background-repeat:no-repeat}
.icon-envelope-dims{width:15px;height:13px}
.icon-heart,.icon-heart\:regular{background-image:url('../images/icons.svg');background-position:0 -213px;background-repeat:no-repeat}
.icon-heart-dims{width:20px;height:17px}
.icon-home,.icon-home\:regular{background-image:url('../images/icons.svg');background-position:0 -230px;background-repeat:no-repeat}
.icon-home-dims{width:20px;height:22px}
.icon-like,.icon-like\:regular{background-image:url('../images/icons.svg');background-position:0 -252px;background-repeat:no-repeat}
.icon-like-dims{width:20px;height:17px}
.icon-loupe,.icon-loupe\:regular{background-image:url('../images/icons.svg');background-position:0 -269px;background-repeat:no-repeat}
.icon-loupe-dims{width:40px;height:40px}
.icon-more,.icon-more\:regular{background-image:url('../images/icons.svg');background-position:0 -309px;background-repeat:no-repeat}
.icon-more-dims{width:17px;height:4px}
.icon-name,.icon-name\:regular{background-image:url('../images/icons.svg');background-position:0 -313px;background-repeat:no-repeat}
.icon-name-dims{width:15px;height:16px}
.icon-no_like,.icon-no_like\:regular{background-image:url('../images/icons.svg');background-position:0 -329px;background-repeat:no-repeat}
.icon-no_like-dims{width:23px;height:20px}
.icon-off,.icon-off\:regular{background-image:url('../images/icons.svg');background-position:0 -349px;background-repeat:no-repeat}
.icon-off-dims{width:15px;height:15px}
.icon-password,.icon-password\:regular{background-image:url('../images/icons.svg');background-position:0 -364px;background-repeat:no-repeat}
.icon-password-dims{width:15px;height:17px}
.icon-search,.icon-search\:regular{background-image:url('../images/icons.svg');background-position:0 -381px;background-repeat:no-repeat}
.icon-search-dims{width:15px;height:15px}
.icon-soc_email,.icon-soc_email\:regular{background-image:url('../images/icons.svg');background-position:0 -396px;background-repeat:no-repeat}
.icon-soc_email-dims{width:20px;height:20px}
.icon-soc_fb,.icon-soc_fb\:regular{background-image:url('../images/icons.svg');background-position:0 -416px;background-repeat:no-repeat}
.icon-soc_fb-dims{width:20px;height:20px}
.icon-soc_twitter,.icon-soc_twitter\:regular{background-image:url('../images/icons.svg');background-position:0 -436px;background-repeat:no-repeat}
.icon-soc_twitter-dims{width:20px;height:20px}
.icon-soc_vk,.icon-soc_vk\:regular{background-image:url('../images/icons.svg');background-position:0 -456px;background-repeat:no-repeat}
.icon-soc_vk-dims{width:20px;height:20px}
.icon-social_google,.icon-social_google\:regular{background-image:url('../images/icons.svg');background-position:0 -476px;background-repeat:no-repeat}
.icon-social_google-dims{width:20px;height:20px}
.icon-top,.icon-top\:regular{background-image:url('../images/icons.svg');background-position:0 -496px;background-repeat:no-repeat}
.icon-top-dims{width:27px;height:21px}