@import '../../assets/scss/fonts.scss';

.photos {
	position: relative;
  padding-top: 3.1rem;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


.photos {
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0 auto;
}

.fullscreen {
    z-index: 20;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fullscreen__overlay {
    position: absolute;;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .9;
}

.fullscreen__container {
  position: relative;
    max-width: 60vw;
    z-index: 20;
    background: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container__image {
    width: 100%;
    max-height: 41rem;
    position: relative;

    & img {
      object-fit: cover;
      max-height: 38.8rem;
      width: 100%;
    }
}


.container__info {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    width: 100%;
    flex-wrap: wrap;
    max-width: 95%;
}

.info__mainInfo {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.25rem;
}

.mainInfo__author {
    @include Panton(bold);
    display: flex;
    align-items: center;
}

.author__avatar {
    width: 3.1rem;
    height: 3.1rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: .6rem;

    & img {
      height: 100%;
      object-fit: cover;
    }
}

.mainInfo__likes {
    margin-left: auto;
}

.description__title {
    margin: 0;
    padding: 0;
    @include ProximaNova(semibold);
}

.description__text {
    @include ProximaNova(light);
}

.buttons {
    position: absolute;
    height: 100%;
    top: 0;
    background: #a0a09f;
    border: none;
    background: transparent;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &:hover svg {
      opacity: 1;
    }
}

.nextButton, .previousButton {
    @extend .buttons;
}

.nextButton {
    right: -5%
}

.previousButton {
    left: -5%
}

.arrow_right, .arrow_left {
    width: 1.25rem;
    width: 1.5rem;
    fill: #FFF;
    opacity: .8;
    transition: .3s linear;
}
