@import '../../assets/scss/fonts.scss';

.new {
	padding: 60px 0;
}

.container {
	width: 1180px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.mainTitle {
	margin: 0;
	font-size: 42px;
	color: #323232;
	@include Panton(bold);
}

.albumList {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.buttonMore {
	color: #28bbf0;
	font-size: 14px;
	line-height: 14px;
	border: 1px solid #28bbf0;
	border-radius: 30px;
	align-self: center;
	padding: 12px 20px;
	text-decoration: none;
	transition: all .4s;
	@include Panton(bold);

	&:hover {
		color: #fff;
		background: #28bbf0;
	}
}